{routes, [
    {"/api/sync/test", kairos_sync2webhook_handler, [
        {downstream_url, [
            {path, "/api/webhook/test"},
            {port, 8082}
        ]},
        {downstream_webhook, {
            header, "X-Webhook-Url"
        }},
        {callback_url, [
            {port, 8081},
            {path, "/callback/:uuid"}
        ]}
    ]}
]}.
