{routes, [
    {"/webhook", kairos_async_webhook_handler, [
        {downstream_url, [
            {port, 8082}
        ]},
        {downstream_webhook, {
            header, "X-Webhook-Url"
        }},
        {callback_url, [
            {port, 8081},
            {path, "/callback/:uuid"}
        ]}
    ]}
]}.
