{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.9.0"},
  {hackney, "1.18.0"},
  {syn, "3.1.0"},
  {uuid, "2.0.4", {pkg, uuid_erl}}
]
}.

{project_plugins, [erlfmt]}.

{erlfmt, [write]}.

{profiles, [
  {prod, [
    {erl_opts, [no_debug_info, warnings_as_errors]},
    {relx, [{dev_mode, false}]},
    {erl_opts, [{d, 'PROD', false}]}
  ]},
  {test, [
    {deps, [meck, erlfmt]},
    {erl_opts, [debug_info, export_all]}
  ]}
]}.


{edoc_opts, [{todo, true}, {private, true}]}.

{shell, [
  {apps, [kernel, stdlib, cowboy, kairos]}
]}.
